<h1 md-dialog-title>Add new member</h1>
<form name="newMember" ng-submit="SaveMember()" role="form" [formGroup]="myform" novalidate>
  <div md-dialog-content>
    <div class="form-group" [ngClass]="{ 'has-error': name.invalid && (name.dirty || name.touched), 
                                         'has-success': name.valid && (name.dirty || name.touched) }">
      <input type="text" formControlName="name" class="form-control" placeholder="Name" required/>
    </div>
    <div class="form-group"  [ngClass]="{ 'has-error': email.invalid && (email.dirty || email.touched), 
                                          'has-success': email.valid && (email.dirty || email.touched) }">
      <input type="text" formControlName="email" class="form-control" placeholder="Email" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
    </div>
  </div>
  <div md-dialog-actions align="end">
    <button (click)="Close()" md-button>Cancel</button>
    <button type="submit" (click)="SaveMember()" md-button [disabled]="!myform.valid">Save</button>
  </div>
</form>
