<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#transactions" aria-controls="transactions" role="tab" data-toggle="tab">Transactions</a></li>
                        <li role="presentation"><a href="#debts" aria-controls="debts" role="tab" data-toggle="tab">Debts</a></li>
                        <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
                        <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="transactions">
                            <app-transactions></app-transactions>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="debts">
                            <app-debts></app-debts>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="summary">

                        </div>
                        <div role="tabpanel" class="tab-pane" id="members">
                            <app-members></app-members>
                        </div>
                    </div>
        </div>        
    </div>
</div>