<div class="list-group">
  <div class="list-group-item blockcontainer" *ngFor="let debt of debtsList; let i = index">
    <h4 class="list-group-item-heading inline">{{debt.inUser}}</h4>
    <i class="glyphicon glyphicon-arrow-right inline marginarrow"></i>
    <h4 class="list-group-item-heading inline">{{debt.ofUser}}</h4>
    <h4 class="list-group-item-heading rightaligned inline"><i class="fa fa-inr"></i> {{debt.amount}}</h4>
  </div>
 </div>