<div class="list-group">
  <div class="list-group-item blockcontainer" *ngFor="let transaction of transactionsList;">
    <h4 class="list-group-item-heading inline">{{transaction.paidByWho}}</h4>
    <h5 class="inline"> has paid </h5>
    <h4 class="list-group-item-heading inline"><i class="fa fa-inr"></i> {{transaction.amountPaid}}</h4>
    <h5 class="inline">for</h5>
    <h4 class="list-group-item-heading inline"> {{transaction.paidFor}}</h4>
  </div>
 </div>