.list-group-item{
    background-color: #f9f9f9;
}

.blockcontainer {
    text-align: left;
}

.inline {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
}

.marginarrow {
    margin-left: 30px;
    margin-right: 30px;
}

.rightaligned {
    float: right;
}