<div class="list-group">
  <div class="list-group-item" *ngFor="let member of membersList; let i = index">
    <i class="fa fa-times" aria-hidden="true" (click)="DeleteMember(i)"></i>
    <h4 class="list-group-item-heading">{{member.name}}</h4>
    <p class="list-group-item-text">{{member.email}}</p>
  </div>
  
</div>
<button type="button" class="btn btn-primary" (click)="OpenModalForm()">Add new member</button>